<h2>New blog</h2>
<form id="editForm">
  <div class="mb-3">
    <label for="title" class="form-label">Image link</label>

    <input type="text" class="form-control" id="img" #img />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="titre" #titre />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Description</label>
    <input type="text" class="form-control" id="desc" #desc />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Release date</label>
    <input
      type="text"
      class="form-control"
      id="date"
      #date
      placeholder="dd/mm/yyyy"
    />
  </div>
  <button
    type="button"
    id="btnValidEdit"
    class="btn btn-success mb-3"
    (click)="addBlog(img.value, titre.value, desc.value, date.value)"
  >
    Validate
  </button>
</form>
